body {
  overflow-x: hidden;
  background-image: url(images/Desktop.png);
}

#header {
  background-color: #000000;
  position: absolute;
  width: 1400px;
  height: 79px;
  left: 0px;
  top: 0px;
}

#header ul {
  display: flex;
  flex-direction: row;
  gap: 59px;
  margin-top: 28px;
  margin-bottom: 27px;
}

li a,
li a:active {
  list-style: none;
  text-decoration: none;
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  color: #ffffff;
}

.outerspace p {
  position: absolute;
  left: 113px;
  top: 114px;
  font-family: "inter";
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  color: #ffffff;
}
.aboutspace {
  position: absolute;
  width: 361px;
  height: 39px;
  left: 121px;
  top: 215px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 39px;
  color: #ffffff;
}

.astroman {
  display: flex;
  justify-content: flex-end;
  padding-top: 22px;
  padding-right: 125px;
}

.articles {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  color: #ffffff;
  font-family: "inter";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 39px;
}

.spacebtn {
  border-radius: 40px;
  padding: 15px;
  padding-left: 40px;
  padding-right: 40px;
  font-family: "inter";

  font-style: normal;
  font-weight: bolder;
  border-style: none;
  display: flex;
  align-items: center;
  margin-left: 121px;
  margin-top: -70px;
}

.container {
  display: flex;
  justify-content: center;
  margin-left: 1.2%;
}

.cardin {
  width: fit-content;
  margin-left: 120px;
  margin-bottom: 100px;
}

.card {
  background-color: #ffffff;
  width: 200px;
  height: 200px;
  margin: 10px;
  margin-top: -9px;
  border-radius: 15px;
}

.card-image {
  height: 130px;
  margin-bottom: 15px;
  margin-top: -10px;
  background-size: cover;
  background-position: center;
  border-radius: 15px 15px 0 0;
}

.img-1 {
  background-image: url(images/car1.png);
}

.img-2 {
  background-image: url(images/car2.png);
}

.img-3 {
  background-image: url(images/car3.png);
}

#lsttxt {
  font-family: "inter";
  font-style: normal;
  font-size: 10px;
  padding: 10px;
}

.line {
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  justify-content: center;
}

.copyryt {
  display: flex;
  justify-content: center;
  font-family: "inter";
  color: #ffffff;
  font-style: normal;
  font-weight: 200;
  margin-top: -5px;
}
